---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
redirect_from:
  - /projects
---

This is a list of a few of my more notable projects, either from school or personal work.
<br>These projects are listed from most recent (top) to least recent (bottom)
<br>Any project with a star (<img src='/images/star.png' width=20>) in the name is one that I'm particularly fond of.

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

