body.archive--wide {
  max-width: 1400px;
  margin: 0 auto;
}

body.archive--wide .archive__items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

body.archive--wide .archive__item {
  flex: 1 1 45%;
  max-width: 45%;
  margin-bottom: 2.5rem;
}

body.archive--wide {
  flex: 1 1 auto;
}

.archive--wide hr {
  border-top: 3px solid currentColor;
}

.about-img--dark {
  display: none;
}

/* Default (light mode) */
.about-img--dark {
  display: none;
}

/* Dark mode */
html[data-theme="dark"] .about-img--light {
  display: none;
}

html[data-theme="dark"] .about-img--dark {
  display: block;
}